@model InternshipPortal.Models.Job

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="jobDetailHeader">Details Job</h2>

<div class="backList">
    <a asp-action="Index">Back to List</a>
</div>

<hr />

<div class="jobDetailBox">
    <dl class="dl-horizontal">
        <dt class="createDetailLabels">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class="createDetailItems">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt class="createDetailLabels">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="createDetailItems">
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt class="createDetailLabels">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class="createDetailItems">
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt class="createDetailLabels">
            @Html.DisplayNameFor(model => model.location)
        </dt>
        <dd class="createDetailItems">
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt class="createDetailLabels">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="createDetailItems">
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt class="createDetailLabels">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="createDetailItems">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="createDetailLabels">
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>
        <dd class="createDetailItems">
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>
    </dl>
</div>
<div class="editJobInDetail">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
</div>




<div class="applyButtonInDetail">
    <a asp-action="Apply" asp-route-id="@Model.Id">Apply</a> 
</div>
